<div class="apartment">
    <img src="{{imgUrl}}" alt="" class="apartment__image">
    <div class="apartment__text">
        <h2 class="apartment__title">{{title}}</h2>
        {{!-- <div class="apartment__rating">{{rating}}</div> --}}
        {{> ./rating.hbs rating}}
        <p class="apartment__description">{{descr}}</p>
    </div>
</div>