.apartments-list {
  max-width: 900px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: 1fr 1fr; */
}

.apartment {
  box-shadow: rgb(128, 128, 128) 0px 2px 8px 0px;
  border-radius: 4px;
  overflow: hidden;
}

.apartment__text {
  padding: 20px;
}
